@import "../../../../public/style/var.module.scss";
.container{
    //  text-align: center;
 
      margin: auto;

}
.info{
    text-align: center;
    margin: 30px auto;
}
// .print_container{
//        width: 790px;
//     //    background-color: aliceblue;
//     margin: 10px  auto;
//     display: flex;
//     border:  4px solid  $prim;
//     box-shadow: 2px 2px 20px $prim;
//     flex-direction: column;
//     // align-items: center;
//     justify-content: center;

//     gap: 30px;
   
// }
.exams_box{
    .title{
       @include title;
    }
}


// for print pdf only {
    .print_container{
    // height: 26.7cm;
    width: 790px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: $innerPadding;
    border:  4px solid  $prim;
     justify-content: center;
    gap: 10px 20px;


    }
@media (max-width: 670px){
    .pdf_container{
        width: 96%;
    }
}