@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Noto+Sans+SC:wght@300;400;500;800;900&display=swap');
//   colours 
$prim: #343F64;
$sec: #c0bdbd;
$acc: #03FB09;
$text: #FFFFFF;
$imp:  rgba(189, 5, 5, 0.795);
$warn: rgb(255, 145, 0);
$bg: linear-gradient(127deg, rgba(52,63,100,1) 0%, rgba(52,63,100,1) 65%, rgb(167, 166, 166) 100%);
$shadow:  0px 1px 20px  2px rgba(128, 128, 128, 0.768);

// buttons 



// fonts 
 $handWrittn: 'Lugrasimo', cursive;

//borders 

$cardBorder: 2px solid $prim;
$bd: 10px;

// padding
$innerPadding: 10px 20px ;


//  mixins 



// for prints 
$box-padding:  10px 3px;

@mixin cardBsic {
    border: $cardBorder;
    box-shadow: 2px 2px 10px $prim;
    border-radius: $bd;
    padding: $innerPadding;
}

@mixin sectionHeading{

    font-size: 24px;
    color: $prim;
    margin: 10px 0;
    
}
@mixin infoboxBasic{
   width: 100%;
    padding: 10px 10px;
    border: 1px solid ;
    background-color: #4d5d9433;
    color: $prim;
    border-radius: $bd;
}
@mixin title {
    font-size: 30px;
      text-align: center;
       color: $prim;
}

//  for pdf print only 
@mixin printContainer{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: $innerPadding;
}
 .devider{
        min-height: 1px;
        margin: 30px 0;
        background-color: $prim;
        box-shadow: $shadow
    }

button{
    padding: 10px 10px;
    margin: 30px;
    color: $text;
    background-color: $prim;
    border: none;
    box-shadow: $shadow;
    text-align: center;
    text-transform: uppercase;
    border-radius: $bd;    
}
button:active{
    color: $prim;
    background-color: $acc;
    box-shadow: none;
}
button:hover{
    transform: scale(1.04);
}






