@import "../../../../../public/style/var.module.scss";
.pdf_header{
    width: 100%;
    display: flex;
    padding: $innerPadding;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-bottom: 1px solid $prim;
    // background: $bg;
    
   
    .title{
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .title_main,h3{
        text-align: center;
    }
    .title_main{
        font-size: 25px;
    }
    p{
        text-align: center;
        font-style: normal;
    }

}
.logo{
    width: 150px;
    justify-self: start;
    // background-color: aqua;
    img{
        width: 100%;
        object-fit:contain;
    }
}

@media (max-width:587px){
   .pdf_header{
    flex-direction: column;
    .title{
        width: 100%;
    }
    .logo{
        width: 60px;
    }
   }
}