@import "../../../../public/style/var.module.scss";
.container{
   padding: $innerPadding;
   text-align: center;
}
.heading{

   margin: 20px 0;
//    border-bottom: 1px solid grey;
    

}
.score_info {
    margin: 20px 0;
    span{
        color: $imp;
        font-size: 20px;
        
    }

}
.examCard_list{
    padding: $innerPadding;
    display: flex;
    gap: 20px  2%;
    margin-bottom: 30px;

flex-flow: row wrap;
}




@media (max-width: 562px ){
.heading{
   
    font-size: 20px;

}
    .examCard_list {
        flex-flow: column;
        // justify-content: space-around;
        
        align-items: center;
        
    }
}