@import "../../../../../public/style/var.module.scss";
.container{
     width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: $innerPadding;
    gap: 20px;

    .title{
      @include title;
      
    }
    .remarks{
     @include infoboxBasic;
     font-style: italic
    }
}